
.contenedor {
    background-color: var(--base-variant);
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: background 0.3s ease, color 0.3s ease;
  }
  